################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex04 Ofir 207438532 Yonatan 314831983/Ex04.Menus.Events/.vs
